
        #txtBuscador
        {
            text-transform: uppercase;
        }
        .TransferContenedorGeneral
        {
            /* display: none;*/
            position: fixed; /* position: absolute;*/
            top: 25%;
            left: 50%;
            width: 550px;
            height: 450px;
            margin-left: -250px;
            background-color: white;
            z-index: 1002;
            overflow: auto;
            border-radius: 12px 0px 0px 0px;
            box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 1);
            overflow-x: hidden;
        }
        .ConfirmarPedidoContenedorGeneral
        {
            display: none;
            position: fixed;
            top: 25%;
            left: 50%;
            width: 550px;
            height: 280px;
            margin-left: -250px;
            background-color: white;
            z-index: 1002;
            overflow: hidden;
            border-radius: 12px 0px 0px 0px;
            box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 1);
            overflow-x: hidden;
        }
        .ConfirmarPedidoTransferContenedorGeneral
        {
            display: none;
            position: fixed;
            top: 25%;
            left: 50%;
            width: 550px;
            height: 280px;
            margin-left: -250px;
            background-color: white;
            z-index: 1002;
            overflow: hidden;
            border-radius: 12px 0px 0px 0px;
            box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 1);
            overflow-x: hidden;
        }
        .RespuestaPedidoContenedorGeneral
        {
            display: none;
            position: fixed;
            top: 25%;
            left: 50%;
            width: 550px;
            height: 360px;
            margin-left: -250px;
            background-color: white;
            z-index: 1002;
            overflow: auto;
            border-radius: 12px 0px 0px 0px;
            box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 1);
            overflow-x: hidden;
        }
        #divMostradorProducto
        {
            background: #FFF;
            border: 1px solid #DEDEDE;
            position: absolute;
            display: none;
            z-index: 10;
        }
        #divMostradorDetalleTransferFacturacionDirecta
        {
            background: #FFF;
            border: 1px solid #DEDEDE;
            position: absolute;
            display: none;
            z-index: 10;
        }
        .tbDetalleProducto
        {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
            width: 100%;
        }
        .tbDetalleProducto td
        {
            vertical-align: middle;
            padding: 7px;
        }
        .barraSeparadorInfo
        {
            height: 20px;
            width: 1px;
            background-color: #DEDEDE; /*#DEDEDE;*/
            margin-left: 5px;
            margin-right: 5px;
        }
        .carro-btn-confirmarTransfer
        {
            float: right;
            display: block;
            width: 65px;
            height: 16px;
            padding-top: 2px;
            background: url(../../img/btn_confirmar.png) no-repeat;
            font-family: alikeregular;
            font-size: 11px;
            color: #FFF !important;
            margin-right: 7px;
            margin-top: 7px;
            margin-bottom: 6px;
        }
        .carro-btn-confirmarPedido
        {
            float: right;
            display: block;
            width: 75px;
            height: 16px;
            padding-top: 2px;
            background: url(../../img/btn_confirmarExtendido.png) no-repeat;
            font-family: alikeregular;
            font-size: 11px;
            color: #FFF !important;
            margin-top: 7px;
            margin-bottom: 6px;
        }
        .cerrarBotonTransferContenedor
        {
            text-align: right;
            cursor: pointer;
            position: fixed;
            top: 23%;
            left: 50%;
            width: 550px;
            height: 50px;
            margin-left: -250px;
            z-index: 1002;
            color: #fff;
        }
        .colorRojo
        {
            color: Red !important;
        }
        .spanProductoTrazableCLiSinGLN
        {
            color: Green !important;
        }
        .spanProductoIVA
        {
            color: Green !important;
            float: right;
        }
        .spanProductoFoto
        {
            height: auto !important;
            padding-left: 2px  ;
            padding-right: 2px  ; 
        }
        .thOrdenar
        {
            cursor: n-resize !important;
        }
        .cssMensajeACliente
        {
            color: #F50743;
        }
        .cssContenedorMensajeACliente
        {
            margin-top: 10px;
            text-align: left;
            font-size: 10px;
        }