@Html.Partial("_nav_config")
@section Scripts{
    @Html.Partial("_scriptsConfig")
}
@section sectionHidden{
    @{
        string resultado = string.Empty;

        List<DKbase.web.capaDatos.cMensaje> lista = WebService.RecuperarTodosMensajesPorIdCliente(((DKbase.web.capaDatos.cClientes)Session["clientesDefault_Cliente"]).cli_codigo);
        if (lista != null)
        {
            lista = lista.Where(x => !x.tme_importante).ToList();
            resultado += "<input type=\"hidden\" id=\"hiddenListaMensajes\" value=\"" + Server.HtmlEncode(Kellerhoff.Codigo.clases.Generales.Serializador.SerializarAJson(lista)) + "\" />";
            resultado += "<input type=\"hidden\" id=\"hiddenEstadoLeido\" value=\"" + Server.HtmlEncode(Kellerhoff.Codigo.clases.Constantes.cESTADO_LEIDO.ToString()) + "\" />";
            resultado += "<input type=\"hidden\" id=\"hiddenEstadoNoLeido\" value=\"" + Server.HtmlEncode(Kellerhoff.Codigo.clases.Constantes.cESTADO_SINLEER.ToString()) + "\" />";
        }
        WriteLiteral(resultado);
    }
}
<div class="row">
    <div id="divGridMensajes" class="col-xs-12">
    </div>
</div>
