@Html.Partial("_nav_ctacte")
@section Scripts{
    @Html.Partial("_scriptsCompocisionSaldos")
    <script type="text/javascript">
    jQuery(document).ready(function () {
        CargarHtmlPanel_nav_composicionsaldos();
        CargarHtmlChequesEnCartera();
    });

    </script>
}
@section sectionHidden{
    @Html.Partial("_hiddenComposicionSaldo")
@{
    string resultado_sub = string.Empty;
    if (HttpContext.Current.Session["clientesDefault_Cliente"] != null)
    {
        List<Kellerhoff.ServiceReferenceDLL.cDllChequeRecibido> resultadoChequesEnCartera = WebService.ObtenerChequesEnCartera(((DKbase.web.capaDatos.cClientes)Session["clientesDefault_Cliente"]).cli_login);
        if (resultadoChequesEnCartera != null)
        {
            resultado_sub += "<input type=\"hidden\" id=\"hiddenChequesEnCartera\" value=\"" + Server.HtmlEncode(Kellerhoff.Codigo.clases.Generales.Serializador.SerializarAJson(resultadoChequesEnCartera)) + "\" />";
        }
    }
    WriteLiteral(resultado_sub);
}
}

<div class="row">
    @Html.Partial("_nav_composicionsaldos")
    <div id="divResultadoChequecuenta" class="col-xs-12">
    </div>
</div>
