@Html.Partial("_nav_ctacte")
@section Scripts{
    @Html.Partial("_scriptsCtacte")
<script type="text/javascript">
    jQuery(document).ready(function () {
        CargarUltimosResumenes();
    });

</script>
}

@section sectionHidden{
    @{
        string resultado = string.Empty;
        if (HttpContext.Current.Session["clientesDefault_Cliente"] != null)
        {
            List<Kellerhoff.ServiceReferenceDLL.cResumen> objResumen = WebService.ObtenerUltimos10ResumenesDePuntoDeVenta(((DKbase.web.capaDatos.cClientes)HttpContext.Current.Session["clientesDefault_Cliente"]).cli_login);
            if (objResumen != null)
            {
                resultado += "<input type=\"hidden\" id=\"hiddenListaUltimosResumenes\" value=\"" + Server.HtmlEncode(Kellerhoff.Codigo.clases.Generales.Serializador.SerializarAJson(objResumen)) + "\" />";
            }
        }
        WriteLiteral(resultado);

    }
    }
<div class="row">
    <div id="divContenedorDocumento" class="col-xs-12">
    </div>
</div>