@{
    string resultadoHtmlCarritosTransfer = string.Empty;

    if (Session["clientesDefault_Cliente"] != null)
    {
        List<DKbase.web.cSucursal> listaSucursalDependiente = WebService.RecuperarTodasSucursalesDependientes().Where(x => x.sde_sucursal == ((DKbase.web.capaDatos.cClientes)Session["clientesDefault_Cliente"]).cli_codsuc).ToList();
        //// Inicio S7
        List<string> ListaSucursal = Kellerhoff.Codigo.clases.FuncionesPersonalizadas.RecuperarSucursalesParaBuscadorDeCliente();
        //// Fin S7
        if (!Kellerhoff.Controllers.mvcController.isCarritoExclusivo()) {
            resultadoHtmlCarritosTransfer += "<div class=\"div_cierre_reparto\" id=\"divContenedorBaseCuentaRegresiva\" >";
            resultadoHtmlCarritosTransfer += "</div>";
        }
        if (((DKbase.web.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_PROMOTOR &&
            ((DKbase.web.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_ENCSUCURSAL &&
            ((DKbase.web.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_ENCGRAL &&
            ((DKbase.web.Usuario)Session["clientesDefault_Usuario"]).idRol != Kellerhoff.Codigo.clases.Constantes.cROL_GRUPOCLIENTE)
        {
            foreach (string item in ListaSucursal)
            {
                resultadoHtmlCarritosTransfer += "<div id=\"divContenedorBase_" + item + "\" > </div>";

            }
            foreach (string item in ListaSucursal)
            {
                resultadoHtmlCarritosTransfer += "<div id=\"divContenedorBaseTransfer_" + item + "\" > </div>";
            }
        }
    }
    WriteLiteral(resultadoHtmlCarritosTransfer);

}