
@{
    ViewBag.Title = "Index";
}

<div class="col-lg-3 col-md-6 col-sm-6 padding_left_ftr">
    <div class="col-xs-12 title_ftr no-padding">
        <h3>Login</h3>
    </div>

    <input tabindex="4" name="name_footer" id="name_footer" class="form-control " type="text" placeholder="Usuario"  />
    <div class="clear20"></div>
    <input tabindex="5" name="password_footer" id="password_footer" class="form-control " type="password" placeholder="Contrase&ntilde;a"  />
    <div class="clear20"></div>
    <button tabindex="6" id="btnIngresar_footer" class="btn_emp" name="btnIngresar_footer" type="button" onclick="onclickIngresarAux(); return false;">INGRESAR</button>

</div>