@Html.Partial("_nav_secundario")
@Html.Partial("_nav_reservavacunas")
@section Scripts{
    @Html.Partial("_scripts_reservavacunas")
}
@{

    string resultado = string.Empty;

    //List<DKbase.web.capaDatos.cReservasVacunas> listaReservaVacunas = DKbase.web.acceso.ObtenerReservasVacunas();
    //if (listaReservaVacunas != null)
    //{
    //    resultado += "<input type=\"hidden\" id=\"hiddenListaReservasVacunas\" value=\"" + Server.HtmlEncode(Kellerhoff.Codigo.clases.Generales.Serializador.SerializarAJson(listaReservaVacunas)) + "\" />";
    //}
    WriteLiteral(resultado);
}

<h2>reservavacunas_total</h2>

<div class="row">

    <div class="col-xs-12" id="divGridReservaVacunas">
    </div>
</div>

