<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!-- config-->
    <add key="raiz" value="http://localhost:35230/" />
    <add key="raiz_f" value="C:\Users\Pablo\Documents\Visual Studio 2010\WebSites\Kellerhoff\" />
    <add key="raiz_archivos" value="C:\ArchivosSitioWEB" />
    <add key="raiz_Log" value="D:\LogKellerhoff\" />
    <add key="ws_usu" value="WSentrar" />
    <add key="ws_psw" value="WSentrarPsw" />
    <add key="ws_dll_usu" value="WSdll" />
    <add key="ws_dll_psw" value="WSdllPsw" />
    <add key="wsProyectos.WebService" value="http://localhost:35230/Kellerhoff/App_WS/WebService.asmx" />
    <add key="PagSinPermiso" value="http://localhost:35230/admin/pages/SinPermiso.aspx" />
    <!--Constantes-->
    <add key="accion_Alta" value="1" />
    <add key="accion_Modificar" value="2" />
    <add key="accion_CambioEstado" value="3" />
    <add key="accion_CambioContraseña" value="4" />
    <add key="accion_CambioOrden" value="5" />
    <add key="accion_CambioPublicar" value="6" />
    <add key="accion_CambioEliminar" value="7" />
    <add key="estado_SinEstado" value="1" />
    <add key="estado_Activo" value="2" />
    <add key="estado_Inactivo" value="3" />
    <add key="estado_SinLeer" value="4" />
    <add key="estado_Leido" value="5" />
    <add key="rol_AdministradorCliente" value="2" />
    <add key="rol_OperadorCliente" value="3" />
    <add key="rol_Promotor" value="10" />
    <add key="rol_EncSuc" value="11" />
    <add key="rol_EncGral" value="12" />	
    <add key="rol_GrupoCliente" value="13" />
    <!--<add key="mailRegistracion" value="computos@kellerhoff.com.ar;operador@kellerhoff.com.ar"/>-->
    <add key="mailRegistracion" value="pceci@outlook.com" />
    <add key="mailContacto" value="pceci@outlook.com" />
    <!--<add key="mail_from" value="web@kellerhoff.com.ar" />
    <add key="mail_pass" value="huracan.2011" />
    <add key="SMTP_SERVER" value="186.153.136.19" />
     <add key="SMTP_PORT" value="25" />-->
    <add key="mail_from" value="smtp.nativo@gmail.com" />
    <add key="mail_pass" value="Casio7878" />
    <add key="SMTP_SERVER" value="smtp.gmail.com" />
    <add key="SMTP_PORT" value="587" />
    <add key="BAN_SERVIDORDLL" value="servidorDLL" />
    <add key="seccion_PEDIDOS" value="PEDIDOS" />
    <add key="seccion_DESCARGAS" value="DESCARGAS" />
    <add key="seccion_CUENTASCORRIENTES" value="CUENTASCORRIENTES" />
    <add key="acuerdo_SinAcuerdo" value="0" />
    <add key="acuerdo_GENOMA" value="1" />
    <add key="acuerdo_ADEM" value="2" />
    <add key="tipoCliente_Perfumeria" value="P" />
    <add key="tipoCliente_Todos" value="D" />
    <add key="mail_cv" value="pceci@outlook.com" />
    <add key="mail_ctacte" value="pceci@outlook.com" />
    <add key="codigoUsuarioSinRegistrar" value="1" />
    <add key="ImpresionesComprobante" value="C:\Impresiones\" />
    	<add key="reCAPTCHA_ClaveSecreta" value="6LdTLCMUAAAAAOB031bSkiBIIlhvwS_WOPNKKEcn" />
    <add key="CantidadFilaPorPagina" value="100" />
    <add key="CantidadFilaPorPaginaSubirPedido" value="10" />
    <add key="LimiteDePaginador" value="8" />
    <!--Fin Constantes-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <sessionState timeout="720" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <add name="db_conexion" connectionString="Data Source=DESKTOP-VMN7LA8\SQLEXPRESS;Initial Catalog=Kellerhoff;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!--<add name="db_conexion" connectionString="Data Source=SERVIDOR\SQL_2008;Initial Catalog=dkWEB;User Id=sa;Password=Sql75369;" providerName="System.Data.SqlClient"/>-->
    <add name="KellerhoffEntities" connectionString="metadata=res://*/Codigo.Model.csdl|res://*/Codigo.Model.ssdl|res://*/Codigo.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VMN7LA8\SQLEXPRESS;initial catalog=Kellerhoff;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://186.153.136.20:81/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="ServiceReferenceDLL.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
  <ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer" />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>